# Setup Data

In [1]:
# import libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from fuzzywuzzy import fuzz
from sklearn.neighbors import NearestNeighbors 
from scipy.sparse import csr_matrix

In [2]:
class Recommender:
    def __init__(self, metric, algorithm, k, data, decode_id_movie):
        self.metric = metric
        self.algorithm = algorithm
        self.k = k
        self.data = data
        self.decode_id_movie = decode_id_movie
        self.data = data
        self.model = self._recommender().fit(data)
    
    def make_recommendation(self, new_movie, n_recommendations):
        recommended = self._recommend(new_movie=new_movie, n_recommendations=n_recommendations)
        print("...... \n...... \n...... \nPROCESSING \n...... \n...... \n...... \nDONE \n")
        return recommended 
    
    def _recommender(self):
        return NearestNeighbors(metric=self.metric, algorithm=self.algorithm, n_neighbors=self.k, n_jobs=-1)
    
    def _recommend(self, new_movie, n_recommendations):
        # Get the id of the recommended movies
        recommendations = []
        recommendation_ids = self._get_recommendations(new_movie=new_movie, n_recommendations=n_recommendations)
        # return the name of the movie using a mapping dictionary
        recommendations_map = self._map_indeces_to_movie_title(recommendation_ids)
        # Translate this recommendations into the ranking of movie titles recommended
        for i, (idx, dist) in enumerate(recommendation_ids):
            recommendations.append(recommendations_map[idx])
        return recommendations
                 
    def _get_recommendations(self, new_movie, n_recommendations):
        # Start the recommendation process
        print(f"Starting the recommendation process for {new_movie} ...")
        
        # Get the id of the movie according to the text
        recom_movie_id = self._fuzzy_matching(movie=new_movie)
        
        # Return the n neighbors for the movie id
        distances, indices = self.model.kneighbors(self.data[recom_movie_id], n_neighbors=n_recommendations+1)
        closedlist = distances
        
        
        
        
        return sorted(list(zip(indices.squeeze().tolist(), distances.squeeze().tolist())), key=lambda x: x[1])[:0:-1]
    
    
    def _map_indeces_to_movie_title(self, recommendation_ids):
        # get reverse mapper
        return {movie_id: movie_title for movie_title, movie_id in self.decode_id_movie.items()}
    
    def _fuzzy_matching(self, movie):
        match_tuple = []
        # get match
        for title, idx in self.decode_id_movie.items():
            ratio = fuzz.ratio(title.lower(), movie.lower())
            if ratio >= 60:
                match_tuple.append((title, idx, ratio))
        # sort
        match_tuple = sorted(match_tuple, key=lambda x: x[2])[::-1]
        if not match_tuple:
            print(f"The recommendation system could not find a match for {movie}")
            return
          
        return match_tuple[0][1]

In [3]:
# loading csv file into pandas dataframe
# specify path
path1="/Users/prasiddha/Downloads/AI CW PT.2/Development/Movies.csv"

# read movies file
movies_df = pd.read_csv(path1)
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
# loading csv file into pandas dataframe
# specify path
path2="/Users/prasiddha/Downloads/AI CW PT.2/Development/rating.csv"

# read ratings file
rating_df = pd.read_csv(path2)
rating_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
df = pd.merge(movies_df, rating_df, on='movieId')
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [6]:
df.isnull().sum()

movieId      0
title        0
genres       0
userId       0
rating       0
timestamp    0
dtype: int64

# Rating Matrix

In [7]:
movie_rating_count = (df.groupby(by=['title'])['rating'].count().reset_index().rename(columns={'rating':'total_rating_count'}))
movie_rating_count.head()

                                     title  total_rating_count
0  'Hellboy': The Seeds of Creation (2004)                   1
1                   'Round Midnight (1986)                   2
2                      'Salem's Lot (2004)                   1
3                'Til There Was You (1997)                   2
4          'Tis the Season for Love (2015)                   1

In [8]:
total_movie_rating_count_df = pd.merge(df, movie_rating_count, on='title')
total_movie_rating_count_df.head()

,movieId,title,genres,userId,rating,timestamp,total_rating_count
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,205
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,205
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,205
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970,205
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483,205

In [9]:
total_movie_rating_count_df.describe()

,movieId,userId,rating,timestamp,total_rating_count
count,93228.000000,93228.000000,93228.000000,9.322800e+04,93228.000000
mean,19318.053771,303.447108,3.521603,1.200300e+09,57.761788
std,35491.159175,171.031434,1.042340,2.152157e+08,60.677294
min,1.000000,1.000000,0.500000,8.281246e+08,1.000000
25%,1193.000000,160.000000,3.000000,1.009692e+09,13.000000
50%,2947.000000,305.000000,3.500000,1.181478e+09,38.000000
75%,7701.000000,448.000000,4.000000,1.431958e+09,83.000000
max,193609.000000,599.000000,5.000000,1.537799e+09,321.000000

In [10]:
movie_user = df.groupby('movieId')['userId'].count()

In [11]:
movie_ten_id = movie_user[movie_user > 2].index.to_list()

In [12]:
df_movie_id_more_ten = df[df['userId'].isin(movie_ten_id)].reset_index(drop=True)

In [13]:
df_movie_features = df_movie_id_more_ten.pivot(index='movieId', columns='userId', values='rating').fillna(0)

In [14]:
# obtain a sparse matrix
mat_movie_features = csr_matrix(df_movie_features.values)

In [15]:
df_movie_features.head()

userId,1,2,3,4,5,6,7,8,9,10,...,588,589,590,592,593,594,595,596,597,599
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,4.0,3.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,0.0,2.5,4.0,0.0,4.0,0.0,0.0,0.0,2.5
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,3.0,0.0,3.0,0.0,0.0,4.0,0.0,0.0,0.0,1.5
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
df_unique_movie = df.drop_duplicates(subset=['movieId']).reset_index(drop=True)[['movieId', 'title']]

In [17]:
decode_id_movie = {
    movie: i for i, movie in 
    enumerate(list(df_unique_movie.set_index('movieId').loc[df_movie_features.index].title))
}

In [18]:
decode_id_movie

{'Toy Story (1995)': 0,
 'Jumanji (1995)': 1,
 'Grumpier Old Men (1995)': 2,
 'Waiting to Exhale (1995)': 3,
 'Father of the Bride Part II (1995)': 4,
 'Heat (1995)': 5,
 'Sabrina (1995)': 6,
 'Tom and Huck (1995)': 7,
 'Sudden Death (1995)': 8,
 'GoldenEye (1995)': 9,
 'American President, The (1995)': 10,
 'Dracula: Dead and Loving It (1995)': 11,
 'Balto (1995)': 12,
 'Nixon (1995)': 13,
 'Cutthroat Island (1995)': 14,
 'Casino (1995)': 15,
 'Sense and Sensibility (1995)': 16,
 'Four Rooms (1995)': 17,
 'Ace Ventura: When Nature Calls (1995)': 18,
 'Money Train (1995)': 19,
 'Get Shorty (1995)': 20,
 'Copycat (1995)': 21,
 'Assassins (1995)': 22,
 'Powder (1995)': 23,
 'Leaving Las Vegas (1995)': 24,
 'Othello (1995)': 25,
 'Now and Then (1995)': 26,
 'Persuasion (1995)': 27,
 'City of Lost Children, The (Cité des enfants perdus, La) (1995)': 28,
 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)': 29,
 'Dangerous Minds (1995)': 30,
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)': 31,
 'Babe (1995)': 32,
 'Dead Man Walking (1995)': 33,
 'It Takes Two (1995)': 34,
 'Clueless (1995)': 35,
 'Cry, the Beloved Country (1995)': 36,
 'Richard III (1995)': 37,
 'Dead Presidents (1995)': 38,
 'Restoration (1995)': 39,
 'Mortal Kombat (1995)': 40,
 'To Die For (1995)': 41,
 'How to Make an American Quilt (1995)': 42,
 'Seven (a.k.a. Se7en) (1995)': 43,
 'Pocahontas (1995)': 44,
 'Usual Suspects, The (1995)': 45,
 'Mighty Aphrodite (1995)': 46,
 'Lamerica (1994)': 47,
 'Big Green, The (1995)': 48,
 'Home for the Holidays (1995)': 49,
 'Postman, The (Postino, Il) (1994)': 50,
 'Indian in the Cupboard, The (1995)': 51,
 'Eye for an Eye (1996)': 52,
 "Mr. Holland's Opus (1995)": 53,
 "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)": 54,
 'Two if by Sea (1996)': 55,
 'Bio-Dome (1996)': 56,
 'Lawnmower Man 2: Beyond Cyberspace (1996)': 57,
 'French Twist (Gazon maudit) (1995)': 58,
 'Friday (1995)': 59,
 'From Dusk Till Dawn (1996)': 60,
 'Fair Game (1995)': 61,
 'Kicking and Screaming (1995)': 62,
 'Misérables, Les (1995)': 63,
 'Bed of Roses (1996)': 64,
 'Big Bully (1996)': 65,
 'Screamers (1995)': 66,
 'Crossing Guard, The (1995)': 67,
 'Juror, The (1996)': 68,
 'White Balloon, The (Badkonake sefid) (1995)': 69,
 "Things to Do in Denver When You're Dead (1995)": 70,
 "Antonia's Line (Antonia) (1995)": 71,
 'Angels and Insects (1995)': 72,
 'White Squall (1996)': 73,
 'Dunston Checks In (1996)': 74,
 'Black Sheep (1996)': 75,
 'Nick of Time (1995)': 76,
 'Mary Reilly (1996)': 77,
 'Vampire in Brooklyn (1995)': 78,
 'Beautiful Girls (1996)': 79,
 'Broken Arrow (1996)': 80,
 'In the Bleak Midwinter (1995)': 81,
 'Hate (Haine, La) (1995)': 82,
 'Heidi Fleiss: Hollywood Madam (1995)': 83,
 'City Hall (1996)': 84,
 'Bottle Rocket (1996)': 85,
 'Mr. Wrong (1996)': 86,
 'Unforgettable (1996)': 87,
 'Happy Gilmore (1996)': 88,
 'Bridges of Madison County, The (1995)': 89,
 'Nobody Loves Me (Keiner liebt mich) (1994)': 90,
 'Muppet Treasure Island (1996)': 91,
 'Braveheart (1995)': 92,
 'Taxi Driver (1976)': 93,
 'Rumble in the Bronx (Hont faan kui) (1995)': 94,
 'Before and After (1996)': 95,
 'Anne Frank Remembered (1995)': 96,
 'If Lucy Fell (1996)': 97,
 'Steal Big, Steal Little (1995)': 98,
 'Boomerang (1992)': 99,
 'Chungking Express (Chung Hing sam lam) (1994)': 100,
 'Flirting With Disaster (1996)': 101,
 'NeverEnding Story III, The (1994)': 102,
 "Jupiter's Wife (1994)": 103,
 'Pie in the Sky (1996)': 104,
 'Jade (1995)': 105,
 'Down Periscope (1996)': 106,
 'Up Close and Personal (1996)': 107,
 'Birdcage, The (1996)': 108,
 'Brothers McMullen, The (1995)': 109,
 'Bad Boys (1995)': 110,
 'Amazing Panda Adventure, The (1995)': 111,
 'Basketball Diaries, The (1995)': 112,
 'Awfully Big Adventure, An (1995)': 113,
 'Apollo 13 (1995)': 114,
 'Rob Roy (1995)': 115,
 'Addiction, The (1995)': 116,
 'Batman Forever (1995)': 117,
 'Beauty of the Day (Belle de jour) (1967)': 118,
 'Beyond Rangoon (1995)': 119,
 'Canadian Bacon (1995)': 120,
 'Casper (1995)': 121,
 'Clockers (1995)': 122,
 'Congo (1995)': 123,
 'Crimson Tide (1995)': 124,
 'Crumb (1994)': 125,
 'Desperado (1995)': 126,
 'Devil in a Blue Dress (1995)': 127,
 'Die Hard: With a Vengeance (1995)': 128,
 'Doom Generation, The (1995)': 129,
 'First Knight (1995)': 130,
 'Free Willy 2: The Adventure Home (1995)': 131,
 'Hackers (1995)': 132,
 'Jeffrey (1995)': 133,
 'Johnny Mnemonic (1995)': 134,
 'Judge Dredd (1995)': 135,
 'Jury Duty (1995)': 136,
 'Kids (1995)': 137,
 'Living in Oblivion (1995)': 138,
 'Lord of Illusions (1995)': 139,
 'Love & Human Remains (1993)': 140,
 'Mad Love (1995)': 141,
 'Mallrats (1995)': 142,
 'Mighty Morphin Power Rangers: The Movie (1995)': 143,
 'Mute Witness (1994)': 144,
 'Net, The (1995)': 145,
 'Nine Months (1995)': 146,
 'Party Girl (1995)': 147,
 'Prophecy, The (1995)': 148,
 'Reckless (1995)': 149,
 'Safe (1995)': 150,
 'Scarlet Letter, The (1995)': 151,
 'Showgirls (1995)': 152,
 'Smoke (1995)': 153,
 'Something to Talk About (1995)': 154,
 'Species (1995)': 155,
 'Strange Days (1995)': 156,
 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)': 157,
 'Three Wishes (1995)': 158,
 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)': 159,
 'Under Siege 2: Dark Territory (1995)': 160,
 'Unstrung Heroes (1995)': 161,
 'Walk in the Clouds, A (1995)': 162,
 'Waterworld (1995)': 163,
 "White Man's Burden (1995)": 164,
 'Wild Bill (1995)': 165,
 'Browning Version, The (1994)': 166,
 'Bushwhacked (1995)': 167,
 'Burnt by the Sun (Utomlyonnye solntsem) (1994)': 168,
 'Before Sunrise (1995)': 169,
 'Billy Madison (1995)': 170,
 'Babysitter, The (1995)': 171,
 'Boys on the Side (1995)': 172,
 'Cure, The (1995)': 173,
 'Circle of Friends (1995)': 174,
 'Clerks (1994)': 175,
 'Don Juan DeMarco (1995)': 176,
 'Disclosure (1994)': 177,
 'Drop Zone (1994)': 178,
 'Destiny Turns on the Radio (1995)': 179,
 'Death and the Maiden (1994)': 180,
 'Dolores Claiborne (1995)': 181,
 'Dumb & Dumber (Dumb and Dumber) (1994)': 182,
 'Eat Drink Man Woman (Yin shi nan nu) (1994)': 183,
 'Exotica (1994)': 184,
 'Exit to Eden (1994)': 185,
 'Ed Wood (1994)': 186,
 'French Kiss (1995)': 187,
 'Forget Paris (1995)': 188,
 'Far From Home: The Adventures of Yellow Dog (1995)': 189,
 'Goofy Movie, A (1995)': 190,
 'Hideaway (1995)': 191,
 'Farinelli: il castrato (1994)': 192,
 'Gordy (1995)': 193,
 'Hoop Dreams (1994)': 194,
 'Heavenly Creatures (1994)': 195,
 'Houseguest (1994)': 196,
 'Immortal Beloved (1994)': 197,
 'Heavyweights (Heavy Weights) (1995)': 198,
 'Hunted, The (1995)': 199,
 'I.Q. (1994)': 200,
 'Interview with the Vampire: The Vampire Chronicles (1994)': 201,
 'Jefferson in Paris (1995)': 202,
 'Jerky Boys, The (1995)': 203,
 'Junior (1994)': 204,
 'Just Cause (1995)': 205,
 "Kid in King Arthur's Court, A (1995)": 206,
 'Kiss of Death (1995)': 207,
 'Star Wars: Episode IV - A New Hope (1977)': 208,
 'Little Women (1994)': 209,
 'Little Princess, A (1995)': 210,
 'Like Water for Chocolate (Como agua para chocolate) (1992)': 211,
 'Legends of the Fall (1994)': 212,
 'Major Payne (1995)': 213,
 'My Crazy Life (Mi vida loca) (1993)': 214,
 'Love Affair (1994)': 215,
 'Losing Isaiah (1995)': 216,
 'Madness of King George, The (1994)': 217,
 "Mary Shelley's Frankenstein (Frankenstein) (1994)": 218,
 'Man of the House (1995)': 219,
 'Mixed Nuts (1994)': 220,
 'Milk Money (1994)': 221,
 'Miracle on 34th Street (1994)': 222,
 'My Family (1995)': 223,
 'Murder in the First (1995)': 224,
 "Nobody's Fool (1994)": 225,
 'Nell (1994)': 226,
 'New Jersey Drive (1995)': 227,
 'New York Cop (Nyû Yôku no koppu) (1993)': 228,
 'Natural Born Killers (1994)': 229,
 'Only You (1994)': 230,
 'Once Were Warriors (1994)': 231,
 'Poison Ivy II (1996)': 232,
 'Outbreak (1995)': 233,
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)': 234,
 'Perez Family, The (1995)': 235,
 "Pyromaniac's Love Story, A (1995)": 236,
 'Pulp Fiction (1994)': 237,
 'Pushing Hands (Tui shou) (1992)': 238,
 'Priest (1994)': 239,
 'Quiz Show (1994)': 240,
 'Queen Margot (Reine Margot, La) (1994)': 241,
 'Quick and the Dead, The (1995)': 242,
 'Roommates (1995)': 243,
 'Ready to Wear (Pret-A-Porter) (1994)': 244,
 'Three Colors: Red (Trois couleurs: Rouge) (1994)': 245,
 'Three Colors: Blue (Trois couleurs: Bleu) (1993)': 246,
 'Three Colors: White (Trzy kolory: Bialy) (1994)': 247,
 'Rent-a-Kid (1995)': 248,
 'Stuart Saves His Family (1995)': 249,
 'Swan Princess, The (1994)': 250,
 'Secret of Roan Inish, The (1994)': 251,
 'Specialist, The (1994)': 252,
 'Stargate (1994)': 253,
 'Santa Clause, The (1994)': 254,
 'Shawshank Redemption, The (1994)': 255,
 'Shallow Grave (1994)': 256,
 'Swimming with Sharks (1995)': 257,
 "National Lampoon's Senior Trip (1995)": 258,
 'To Live (Huozhe) (1994)': 259,
 'Tank Girl (1995)': 260,
 'Tales from the Crypt Presents: Demon Knight (1995)': 261,
 'Star Trek: Generations (1994)': 262,
 'Tales from the Hood (1995)': 263,
 'Village of the Damned (1995)': 264,
 'Tommy Boy (1995)': 265,
 'Vanya on 42nd Street (1994)': 266,
 'Underneath (1995)': 267,
 'Walking Dead, The (1995)': 268,
 "What's Eating Gilbert Grape (1993)": 269,
 'Virtuosity (1995)': 270,
 'While You Were Sleeping (1995)': 271,
 'War, The (1994)': 272,
 'Double Happiness (1994)': 273,
 "Muriel's Wedding (1994)": 274,
 'Baby-Sitters Club, The (1995)': 275,
 'Ace Ventura: Pet Detective (1994)': 276,
 'Adventures of Priscilla, Queen of the Desert, The (1994)': 277,
 'Backbeat (1993)': 278,
 'Bitter Moon (1992)': 279,
 'Bullets Over Broadway (1994)': 280,
 'Clear and Present Danger (1994)': 281,
 'Client, The (1994)': 282,
 'Corrina, Corrina (1994)': 283,
 'Crooklyn (1994)': 284,
 'Crow, The (1994)': 285,
 'Cobb (1994)': 286,
 'Flintstones, The (1994)': 287,
 'Forrest Gump (1994)': 288,
 'Four Weddings and a Funeral (1994)': 289,
 'Higher Learning (1995)': 290,
 'I Like It Like That (1994)': 291,
 'I Love Trouble (1994)': 292,
 'It Could Happen to You (1994)': 293,
 'Jungle Book, The (1994)': 294,
 'Wonderful, Horrible Life of Leni Riefenstahl, The (Macht der Bilder: Leni Riefenstahl, Die) (1993)': 295,
 'Lion King, The (1994)': 296,
 'Little Buddha (1993)': 297,
 "Wes Craven's New Nightmare (Nightmare on Elm Street Part 7: Freddy's Finale, A) (1994)": 298,
 'Mask, The (1994)': 299,
 'Maverick (1994)': 300,
 'Naked Gun 33 1/3: The Final Insult (1994)': 301,
 'Paper, The (1994)': 302,
 'Reality Bites (1994)': 303,
 'Red Rock West (1992)': 304,
 'Richie Rich (1994)': 305,
 'River Wild, The (1994)': 306,
 'Speed (1994)': 307,
 'Speechless (1994)': 308,
 'Timecop (1994)': 309,
 'True Lies (1994)': 310,
 'When a Man Loves a Woman (1994)': 311,
 'Wolf (1994)': 312,
 'Wyatt Earp (1994)': 313,
 'S.F.W. (1994)': 314,
 'Low Down Dirty Shame, A (1994)': 315,
 'Boys Life (1995)': 316,
 'Colonel Chabert, Le (1994)': 317,
 'Faster Pussycat! Kill! Kill! (1965)': 318,
 "Jason's Lyric (1994)": 319,
 'Street Fighter (1994)': 320,
 'Highlander III: The Sorcerer (a.k.a. Highlander: The Final Dimension) (1994)': 321,
 'In the Mouth of Madness (1995)': 322,
 '8 Seconds (1994)': 323,
 'Above the Rim (1994)': 324,
 'Addams Family Values (1993)': 325,
 'Age of Innocence, The (1993)': 326,
 'Airheads (1994)': 327,
 'Air Up There, The (1994)': 328,
 'Another Stakeout (1993)': 329,
 'Bad Girls (1994)': 330,
 'Barcelona (1994)': 331,
 'Being Human (1993)': 332,
 'Beverly Hillbillies, The (1993)': 333,
 'Beverly Hills Cop III (1994)': 334,
 'Black Beauty (1994)': 335,
 'Blink (1994)': 336,
 'Blown Away (1994)': 337,
 'Blue Chips (1994)': 338,
 'Blue Sky (1994)': 339,
 'Body Snatchers (1993)': 340,
 'Boxing Helena (1993)': 341,
 'Bronx Tale, A (1993)': 342,
 'Cabin Boy (1994)': 343,
 'Calendar Girl (1993)': 344,
 "Carlito's Way (1993)": 345,
 "City Slickers II: The Legend of Curly's Gold (1994)": 346,
 'Clean Slate (1994)': 347,
 'Cliffhanger (1993)': 348,
 'Coneheads (1993)': 349,
 'Color of Night (1994)': 350,
 'Cops and Robbersons (1994)': 351,
 'Cowboy Way, The (1994)': 352,
 'Dave (1993)': 353,
 'Dazed and Confused (1993)': 354,
 'Demolition Man (1993)': 355,
 'Even Cowgirls Get the Blues (1993)': 356,
 'Fatal Instinct (1993)': 357,
 'Farewell My Concubine (Ba wang bie ji) (1993)': 358,
 'Fearless (1993)': 359,
 'Fear of a Black Hat (1994)': 360,
 'With Honors (1994)': 361,
 'Flesh and Bone (1993)': 362,
 "Widows' Peak (1994)": 363,
 'For Love or Money (1993)': 364,
 'Firm, The (1993)': 365,
 'Free Willy (1993)': 366,
 'Fresh (1994)': 367,
 'Fugitive, The (1993)': 368,
 'Geronimo: An American Legend (1993)': 369,
 'Getaway, The (1994)': 370,
 'Getting Even with Dad (1994)': 371,
 'Go Fish (1994)': 372,
 'Hard Target (1993)': 373,
 'Hot Shots! Part Deux (1993)': 374,
 'Live Nude Girls (1995)': 375,
 'Englishman Who Went Up a Hill But Came Down a Mountain, The (1995)': 376,
 'House of the Spirits, The (1993)': 377,
 'Hudsucker Proxy, The (1994)': 378,
 "I'll Do Anything (1994)": 379,
 'In the Army Now (1994)': 380,
 'In the Line of Fire (1993)': 381,
 'In the Name of the Father (1993)': 382,
 'Inkwell, The (1994)': 383,
 "What's Love Got to Do with It? (1993)": 384,
 'Jimmy Hollywood (1994)': 385,
 'Judgment Night (1993)': 386,
 'Jurassic Park (1993)': 387,
 'Kalifornia (1993)': 388,
 'Killing Zoe (1994)': 389,
 'Lassie (1994)': 390,
 'Last Action Hero (1993)': 391,
 'Life with Mikey (1993)': 392,
 'Lightning Jack (1994)': 393,
 'M. Butterfly (1993)': 394,
 'Made in America (1993)': 395,
 'Malice (1993)': 396,
 'Man Without a Face, The (1993)': 397,
 'Manhattan Murder Mystery (1993)': 398,
 'Menace II Society (1993)': 399,
 'Executive Decision (1996)': 400,
 'What Happened Was... (1994)': 401,
 'Much Ado About Nothing (1993)': 402,
 'Mr. Wonderful (1993)': 403,
 'Mrs. Doubtfire (1993)': 404,
 'Naked (1993)': 405,
 'Next Karate Kid, The (1994)': 406,
 'No Escape (1994)': 407,
 'North (1994)': 408,
 'Perfect World, A (1993)': 409,
 'Philadelphia (1993)': 410,
 'Piano, The (1993)': 411,
 'Poetic Justice (1993)': 412,
 'Program, The (1993)': 413,
 'Puppet Masters, The (1994)': 414,
 'Radioland Murders (1994)': 415,
 'Ref, The (1994)': 416,
 'Remains of the Day, The (1993)': 417,
 'Renaissance Man (1994)': 418,
 'Rising Sun (1993)': 419,
 'Road to Wellville, The (1994)': 420,
 'RoboCop 3 (1993)': 421,
 'Robin Hood: Men in Tights (1993)': 422,
 'Romeo Is Bleeding (1993)': 423,
 'Romper Stomper (1992)': 424,
 'Ruby in Paradise (1993)': 425,
 'Rudy (1993)': 426,
 "Schindler's List (1993)": 427,
 'Scout, The (1994)': 428,
 'Searching for Bobby Fischer (1993)': 429,
 'Secret Garden, The (1993)': 430,
 'Serial Mom (1994)': 431,
 'Shadow, The (1994)': 432,
 'Shadowlands (1993)': 433,
 'Short Cuts (1993)': 434,
 'Simple Twist of Fate, A (1994)': 435,
 'Sirens (1994)': 436,
 'Six Degrees of Separation (1993)': 437,
 'Sleepless in Seattle (1993)': 438,
 'Sliver (1993)': 439,
 'Blade Runner (1982)': 440,
 'Son in Law (1993)': 441,
 'So I Married an Axe Murderer (1993)': 442,
 'Striking Distance (1993)': 443,
 'Super Mario Bros. (1993)': 444,
 'Surviving the Game (1994)': 445,
 'Terminal Velocity (1994)': 446,
 'Thirty-Two Short Films About Glenn Gould (1993)': 447,
 'Threesome (1994)': 448,
 'Nightmare Before Christmas, The (1993)': 449,
 'Three Musketeers, The (1993)': 450,
 'Tombstone (1993)': 451,
 'True Romance (1993)': 452,
 'War Room, The (1993)': 453,
 'Pagemaster, The (1994)': 454,
 'Welcome to the Dollhouse (1995)': 455,
 'Chasers (1994)': 456,
 'Kika (1993)': 457,
 'Bhaji on the Beach (1993)': 458,
 'Little Big League (1994)': 459,
 'Spanking the Monkey (1994)': 460,
 'Little Rascals, The (1994)': 461,
 'Andre (1994)': 462,
 'Princess Caraboo (1994)': 463,
 'Celluloid Closet, The (1995)': 464,
 'Brady Bunch Movie, The (1995)': 465,
 'Home Alone (1990)': 466,
 'Ghost (1990)': 467,
 'Aladdin (1992)': 468,
 'Terminator 2: Judgment Day (1991)': 469,
 'Dances with Wolves (1990)': 470,
 'Batman (1989)': 471,
 'Silence of the Lambs, The (1991)': 472,
 'Snow White and the Seven Dwarfs (1937)': 473,
 'Beauty and the Beast (1991)': 474,
 'Pinocchio (1940)': 475,
 'Pretty Woman (1990)': 476,
 'Wild Bunch, The (1969)': 477,
 'One Fine Day (1996)': 478,
 'Candyman: Farewell to the Flesh (1995)': 479,
 'Fargo (1996)': 480,
 'Homeward Bound II: Lost in San Francisco (1996)': 481,
 'Heavy Metal (1981)': 482,
 'Hellraiser: Bloodline (1996)': 483,
 'Pallbearer, The (1996)': 484,
 'Jane Eyre (1996)': 485,
 'Bread and Chocolate (Pane e cioccolata) (1973)': 486,
 'Aristocats, The (1970)': 487,
 'Flower of My Secret, The (La flor de mi secreto) (1995)': 488,
 'Two Much (1995)': 489,
 'Ed (1996)': 490,
 'Thin Line Between Love and Hate, A (1996)': 491,
 'Last Supper, The (1995)': 492,
 'Primal Fear (1996)': 493,
 'All Dogs Go to Heaven 2 (1996)': 494,
 'Denise Calls Up (1995)': 495,
 'Theodore Rex (1995)': 496,
 'Family Thing, A (1996)': 497,
 'Sgt. Bilko (1996)': 498,
 'Jack and Sarah (1995)': 499,
 'Girl 6 (1996)': 500,
 'Diabolique (1996)': 501,
 'Courage Under Fire (1996)': 502,
 'Mission: Impossible (1996)': 503,
 'Moll Flanders (1996)': 504,
 'Dragonheart (1996)': 505,
 'Eddie (1996)': 506,
 'James and the Giant Peach (1996)': 507,
 'Fear (1996)': 508,
 'Kids in the Hall: Brain Candy (1996)': 509,
 'Underground (1995)': 510,
 'Bloodsport 2 (a.k.a. Bloodsport II: The Next Kumite) (1996)': 511,
 'Song of the Little Road (Pather Panchali) (1955)': 512,
 'World of Apu, The (Apur Sansar) (1959)': 513,
 'Mystery Science Theater 3000: The Movie (1996)': 514,
 'Space Jam (1996)': 515,
 'Barbarella (1968)': 516,
 'Some Folks Call It a Sling Blade (1993)': 517,
 'Alphaville (Alphaville, une étrange aventure de Lemmy Caution) (1965)': 518,
 'Operation Dumbo Drop (1995)': 519,
 'Mrs. Winterbourne (1996)': 520,
 'Solo (1996)': 521,
 'Substitute, The (1996)': 522,
 'Feeling Minnesota (1996)': 523,
 'Delta of Venus (1995)': 524,
 'Angus (1995)': 525,
 'Boys (1996)': 526,
 'Quest, The (1996)': 527,
 'Sunset Park (1996)': 528,
 'Mulholland Falls (1996)': 529,
 'Truth About Cats & Dogs, The (1996)': 530,
 'Oliver & Company (1988)': 531,
 'Celtic Pride (1996)': 532,
 'Flipper (1996)': 533,
 'Dead Man (1995)': 534,
 'Visitors, The (Visiteurs, Les) (1993)': 535,
 'Multiplicity (1996)': 536,
 'Wallace & Gromit: The Best of Aardman Animation (1996)': 537,
 'Craft, The (1996)': 538,
 'Great White Hype, The (1996)': 539,
 'Cold Comfort Farm (1995)': 540,
 "Heaven's Prisoners (1996)": 541,
 'Rock, The (1996)': 542,
 'Cemetery Man (Dellamorte Dellamore) (1994)': 543,
 'Twister (1996)': 544,
 'Barb Wire (1996)': 545,
 'Ghost in the Shell (Kôkaku kidôtai) (1995)': 546,
 'Thinner (1996)': 547,
 'Spy Hard (1996)': 548,
 'Wallace & Gromit: A Close Shave (1995)': 549,
 'Stupids, The (1996)': 550,
 'Arrival, The (1996)': 551,
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)': 552,
 'Ashes of Time (Dung che sai duk) (1994)': 553,
 'Maya Lin: A Strong Clear Vision (1994)': 554,
 'Stalingrad (1993)': 555,
 'Phantom, The (1996)': 556,
 'Striptease (1996)': 557,
 'Heavy (1995)': 558,
 'Jack (1996)': 559,
 'I Shot Andy Warhol (1996)': 560,
 'Touki Bouki (1973)': 561,
 'Spirits of the Dead (1968)': 562,
 'Trainspotting (1996)': 563,
 "'Til There Was You (1997)": 564,
 'Independence Day (a.k.a. ID4) (1996)': 565,
 'Stealing Beauty (1996)': 566,
 'Fan, The (1996)': 567,
 'Hunchback of Notre Dame, The (1996)': 568,
 'Cable Guy, The (1996)': 569,
 'Kingpin (1996)': 570,
 'Eraser (1996)': 571,
 'Nutty Professor, The (1996)': 572,
 'Unforgettable Summer, An (Un été inoubliable) (1994)': 573,
 'Somebody to Love (1994)': 574,
 'Daylight (1996)': 575,
 'Frighteners, The (1996)': 576,
 'Lone Star (1996)': 577,
 'Harriet the Spy (1996)': 578,
 'Phenomenon (1996)': 579,
 "She's the One (1996)": 580,
 'Time to Kill, A (1996)': 581,
 'American Buffalo (1996)': 582,
 'Alaska (1996)': 583,
 'Fled (1996)': 584,
 'Kazaam (1996)': 585,
 'Larger Than Life (1996)': 586,
 'Very Brady Sequel, A (1996)': 587,

# Movie Recommendation

In [23]:
try:
    model = Recommender(metric='cosine', algorithm='brute', k=20, data=mat_movie_features, decode_id_movie=decode_id_movie)
    movie =  input("Enter Your Input: ")
    new_recommendations = model.make_recommendation(new_movie=movie, n_recommendations=10)

    openlist = new_recommendations
    
    print(f"The Recommendations for '{movie}' are:")
    
    print('\n'.join(map(str, openlist)))

    print("\nEnjoy your MOVIE, THANK YOU")
    
   

    
except:
    print("...... \nSorry, this movie is not in our database!")

Enter Your Input: titanic
Starting the recommendation process for titanic ...
......
......
......
PROCESSING
......
......
......
DONE

The Recommendations for 'titanic' are:
Big Boss, The (Fists of Fury) (Tang shan da xiong) (1971)
Bustin' Loose (1981)
Love Is a Many-Splendored Thing (1955)
Crimes of the Heart (1986)
Good Mother, The (1988)
Deceiver (1997)
Raise the Titanic (1980)
Crimson Pirate, The (1952)
Boiling Point (1993)
Pajama Game, The (1957)

Enjoy your MOVIE, THANK YOU